body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
}

.course-nav {
  background: #fff;
  border-radius: 8px;
  width: fit-content;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.course-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.course-nav li {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  color: #be1313;
}

.course-nav li i {
  width: 25px;
  font-size: 20px;
  margin-right: 10px;
}

.course-nav li:hover {
  background-color: #f0f0f0;
}

.course-nav li.active {
  background-color: #e7e7e7;
}

.close-sidebar {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
