.table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid grey;
  margin-top: 20px;
}

th {
  font-weight: bold;
  background-color: #f8f9fa;
  border-bottom: 2px solid grey;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:last-child td {
  border-bottom: none;
}

body {
  margin: 0;
  padding: 0;
}
body * {
  font-family: Arial, Helvetica, sans-serif;
}

body,
html {
  font-size: 16px;
  font-style: normal;
  color: #333;
  line-height: 1.6;
}
